{% extends "base.html" %} 

{% load static %}

{% block css_refs %}
  <link rel="stylesheet" href="{% static "user/users.css" %}">
{% endblock  %}

{% block js_refs %}
  <script src="{% static "user/users.js" %}"></script>
{% endblock  %}


{% block title %} Users {% endblock %}

{% block body %}
  {% include "partials/header.html" with active_page="Users" %}
  <h1>Users</h1>
  <strong>Total Count: {{total_users}}</strong>
  <strong>Average Age: {{aggregate_age.age__avg}}</strong>
  <strong>Max Age: {{aggregate_age.age__max}}</strong>
  <strong>Min Age: {{aggregate_age.age__min}}</strong>
  <hr>
  <dialog>
    <button autofocus>Close</button>

    <form>
      <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
      </div>

      <div> 
        <label for="email">Email</label>
        <input id="email" name="email" type="text">
      </div>     
      
      <div> 
        <label for="age">Age</label>
        <input id="age" name="age" type="text">
      </div>
     
      <div> 
        <label for="access">Access</label>
        <select id="access" name="access">
          <option value="">-----</option>
          <option value="">READ</option>
          <option value="">UPDATE</option>
          <option value="">DELETE</option>
        </select>
      </div>
     
      <div> 
        <label for="passport">Passport</label>
        <input id="passport" name="passport" type="text">
      </div>
      
      <button type="submit">Submit</button>
    </form>

  </dialog>
  
  <button>Add new user</button>
  <ul>
    {% if users|length > 0 %}
      {% for user in users %}
      {% comment %} <li><a href="{% url "specific-user-path" user_id=user.id %}">{{ user.name|title }}</a></li> {% endcomment %}
      {% comment %} <li><a href="{% url "specific-user-path" user.id %}">{{ user.name|title }}</a></li> {% endcomment %}

      <li><a href="{{user.get_absolute_url}}">{{ user.name|title }}</a></li>

      {% endfor %}
    {% else %}
      <div>No Users Found</div>
    {% endif %}
   
  </ul> 

{% endblock  %}


